---
import "@styles/base.css";
import { SITE } from "@config";
import Header from "@components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import type { MarkdownHeading } from "astro";

// Basically there may be cases where i would want the heading text to be something else in the toc
// in that case, send the entire heading array manually from the frontmatter itself
// and replace the propsheadings with that one
// TODO: Rather than sending the entire headings array
// send only the indices to be modified and the respective contents
export interface Props {
    frontmatter: {
        title: string;
        description?: string;
        date: Date;
        draft: boolean;
        activeNav: "~" | "about" | "stuff" | "projects" | "posts" | "contact";
        shortTitle?: string;
        headings?: { depth: number; slug: string; text: string }[];
        github?: string;
    };
    headings: MarkdownHeading[];
}
const dateOptions: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
};
const { frontmatter, headings: propsheadings } = Astro.props;
let headings: any[] = [];
if (frontmatter.headings && frontmatter.headings.length > 0) {
    headings = frontmatter.headings;
} else {
    headings = propsheadings;
}
frontmatter.date = new Date(frontmatter.date);
---

<BaseLayout
    title={`${frontmatter.title} | ${SITE.title}`}
    description={frontmatter.description}
>
    <Header activeNav={frontmatter.activeNav} />
    <Breadcrumbs shortTitle={frontmatter.shortTitle} />
    <main class="mywidth:grid">
        <div class="grid gap-4 sm:grid-cols-7">
            {/* Render TableOfContents or empty span based on headings */}
            <div class="sm:col-span-2">
                {
                    headings.length > 0 ? (
                        <div class="relative">
                            <TableOfContents headings={headings} />
                        </div>
                    ) : (
                        <span />
                    )
                }
            </div>

            <div class="sm:col-span-5">
                {/* Your content here */}
                <section id="about" class="prose mx-auto max-w-3xl px-4">
                    <h1 class="my-[32px]">{frontmatter.title}</h1>
                    <div class="flex items-center">
                        <h5>
                            {
                                frontmatter.date.toLocaleDateString(
                                    undefined,
                                    dateOptions,
                                )
                            }
                        </h5>
                        {
                            frontmatter.github && (
                                <>
                                    &nbsp;{" | "}&nbsp; {/* Separator */}
                                    <div class="rounded-3xl border border-transparent bg-ctp-surface1 px-3 text-ctp-lavender transition duration-100 hover:bg-ctp-surface0 hover:text-dark-sapphire">
                                        <a
                                            href={frontmatter.github}
                                            title={frontmatter.github}
                                            class="not-prose"
                                        >
                                            &nbsp;Github
                                        </a>
                                    </div>
                                </>
                            )
                        }
                    </div>
                    <slot />
                </section>
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    h5 {
        @apply italic text-ctp-lavender;
    }
</style>
